[submodule "theme"]
	path = theme
	url = https://git.sr.ht/~jonsterling/forester-base-theme

# Other themes 
# https://github.com/mikezom/forester-theme.git			-Interesting graph view
# https://git.sr.ht/~jonsterling/forester-base-theme 		-Default theme

###################

# git submodule init
# git submodule update